[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nltk = "*"
tqdm = "*"
scikit-learn = "*"

[dev-packages]
pylint = "*"
twine = "*"
pipfile = "*"

[requires]
python_version = "3.7"
